*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: lightblue;
    height: 50px;
    display: flex;
    align-items: center;
}
/*Barra di navigazione*/
nav{
    display: flex;
    margin: 0 auto;
    width: 800px;
}

nav div{
    height: 30px;
    background-color: orange;
    border: dashed 2px black;
    
}
.logo,.login{
    padding: 3px 3px 0px 3px;
    width: 20%;
}

.menu{
    padding-top: 3px;
    text-align: center;
}

.login{
    text-align: right;
}

div.menu{
    width: 60%;
}

/*Prima sezione*/
.container1{
    height: 400px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sezione1{
    width: 50%;
    height: 300px;
    background-color: palevioletred;
}


/*Sezioni centrali*/
.container{
    height: 450px;
    display: flex;
    align-items: center;
}

.container_bk_color{
    background-color: #bebebe;
}

.sezione{
    width: 60%;
    height: 350px;
    display: flex;
    margin: 0 auto;
}

.azzurro{
    background-color: #13a7fd;
    border: dashed 2px black;
    width: 60%;
    height: 350px;
}

.rosa{
    background-color: #e657ff;
    border: dashed 2px black;
    width: 40%;
    height: 350px;
}

/*Ultima sezione*/
.last_container{
    height: 800px;
    display: flex;
    align-items: center;
}

.ultima_sezione{
    width: 60%;
    margin: 0 auto;
}

.verde{
    background-color: #009b3e;
    border: dashed 2px black;
    height: 700px;
}
